.cardapio{
    margin-top: 70px;
    margin-bottom: 90%;
    height: 50%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

#frango-img{
    position: absolute;
    height: auto;
    top: 1%;
    z-index: 900;
}

#muito-sabor{ 
    position: absolute;
    font-size: 100px;
    color: #fff;
    top: 90%;
    right: 67%;
}

#muito-arretado{
    position: absolute;
    top: 90%;
    left: 65%;
    color: #fff;
    font-size: 100px;
}